# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# Junk and temporary files
debug_*.txt
debug_history.*
err.txt
prisma.json
response.html
test-output.txt
test.js
test.ts
ts_errors.txt
*.bak
tmp_*.js
SQL/Backupcontalocal.bak
tmp_*.json
tmp_*.txt
# Build Release
RELEASE_AGENCIAS/
Instalador/

# Local installer files
unins000.dat
unins000.exe
install_log.txt
